{% set seafile = salt['grains.filter_by']({
    'RedHat': {
        'ports': {
            'seahub': [8000],
            'fileserver': [8082],
            'ccnet': [10001],
            'daemon': [12001],

        },
    },
}, merge=salt['pillar.get']('seafile:lookup'), default='default') %}
