{% set rsyslog = salt['grains.filter_by']({
    'RedHat': {
        'client': {
            'package': 'rsyslog',
            'service': 'rsyslog',
            'workdir': '/var/lib/rsyslog',
            'conf': '/etc/rsyslog.conf',
            'include_basedir': '/etc/rsyslog.d',
            'include': [
                'local.conf', 
                'forward-remote.conf',
            ],
            'modules': [
                'imuxsock',
                'imjournal',
                'imklog',
            ],
            'format': 'RSYSLOG_TraditionalFileFormat',
            'logs': {
                '*.info;mail.none;authpriv.none;cron.none': '/var/log/messages',
                'authpriv.*': '/var/log/secure',
                'mail.*': '-/var/log/maillog',
                'cron.*': '/var/log/cron',
                '*.emerg': ':omusrmsg:*',
                'uucp,news.crit': '/var/log/spooler',
                'local7.*': '/var/log/boot.log',
            },
        },
        'server': {
            'package': 'rsyslog',
            'service': 'rsyslog',
            'workdir': '/var/lib/rsyslog',
            'conf': '/etc/rsyslog.conf',
            'include_basedir': '/etc/rsyslog.d',
            'include': [
                'local.conf', 
                'forward-logstash.conf',
                'forward-remote.conf',
            ],
            'modules': [
                'imuxsock',
                'imjournal',
                'imklog',
                'imtcp',
                'imudp',
            ],
            'format': 'RSYSLOG_TraditionalFileFormat',
            'listen': {
                'port': 514,
                'protocol': 'tcp'
            },
            'forwarder': {
                'host': 'localhost',
                'port': '5001',
                'protocol': 'tcp',
            },
        },
    },
    'default': {
    }
}, merge=salt['pillar.get']('rsyslog:lookup'), default='default') %}
