{% from 'rsyslog/map.jinja' import rsyslog with context %}

{% for module in rsyslog.client.modules %}
module(load="{{ module }}")
{% endfor %}

$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

global(
    workDirectory="{{ rsyslog.client.workdir }}"
    preserveFQDN="on"
)

{% for conf in rsyslog.client.include %}
$IncludeConfig {{ rsyslog.client.include_basedir }}/{{ conf }}
{% endfor %}

{% for application, _ in salt['pillar.get']("logging:applications").items() %}
$IncludeConfig {{ rsyslog.client.include_basedir }}/{{ application }}.conf
{% endfor %}
