{% for module in rsyslog.server.modules %}
module(load="{{ module }}")
{% endfor %}

global(workDirectory="{{ rsyslog.server.workdir }}")

$ActionFileDefaultTemplate {{ rsyslog.server.format }}
$IMJournalStateFile imjournal.state

{% for conf in rsyslog.server.include %}
$IncludeConfig {{ rsyslog.server.include_basedir }}/{{ conf }}
{% endfor %}
