{% from 'rsyslog/map.jinja' import rsyslog with context %}

{% for module in rsyslog.client.modules %}
module(load="{{ module }}")
{% endfor %}

$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

global(
    workDirectory="{{ rsyslog.client.workdir }}"
    preserveFQDN="on"
)

$IncludeConfig {{ rsyslog.client.include_basedir }}/*.conf
