{% for module in rsyslog.server.modules %}
module(load="{{ module }}")
{% endfor %}

global(workDirectory="{{ rsyslog.server.workdir }}")

$ActionFileDefaultTemplate {{ rsyslog.server.format }}
$IMJournalStateFile imjournal.state

$IncludeConfig {{ rsyslog.server.conf.include }}
