{% from 'logstash/map.jinja' import logstash with context %}
{
  "network": {
    "servers": [ 
        {% for logserver, info in network.get('logging', {}).get('servers', {}).items() %}
        "{{ info.fqdn }}:{{ info.ip|default(logstash.forwarder.port) }}"
        {% endfor %}
    ],

    "ssl ca": "{{ logstash.pki.cert }}",

    "timeout": {{ logstash.forwarder.timeout }}
    },

  "files": [
    {
      "paths": [
        "{{ logstash.logs.messages }}",
        "{{ logstash.logs.auth }}"
       ],
      "fields": { "type": "syslog" }
    }
  ]
}
