{% if network == None or network.get('ntp', {}).get('servers', 'default') == 'default' %}
{% for server in ntp.default_servers %}
server {{ server }} iburst
{% endfor %}
{% else %}
{% for server in network.ntp.servers %}
server {{ server }} iburst
{% endfor %}
{% endif %}
