{% set openvpn = salt['grains.filter_by']({
    'RedHat': {
        'default_port': '1194',
        'client': {
            'package': 'openvpn',
            'service': 'openvpn@%s',
        },
        'server': {
            'package': 'openvpn',
            'service': 'openvpn@%s',
        },
    },
    'Debian': {
        'default_port': '1194',
        'client': {
            'package': 'openvpn',
            'service': 'openvpn',
        },
    },
}, merge=salt['pillar.get']('openvpn:lookup'), default='default') %}
