{% set check_mk = salt['grains.filter_by']({
    'RedHat': {
        'agent': {
            'package': 'check-mk-agent',
            'service': 'xinetd',
            'conf': {
                'xinetd': {
                    'path': '/etc/xinetd.d/check-mk-agent',
                    'template': 'salt://nagios/check_mk/agent/files/check-mk-agent.jinja',
                },
            },
            'port': 6556,
        },
        'server': {
            'port': 80,
        },
    },
    'Debian': {
        'agent': {
            'package': 'check-mk-agent',
            'service': 'xinetd',
            'conf': {
                'xinetd': {
                    'path': '/etc/xinetd.d/check_mk',
                    'template': 'salt://nagios/check_mk/agent/files/check-mk-agent.jinja',
                },
            },
            'port': 6556,
        },
        'server': {
            'port': 80,
        },
    },
    'FreeBSD': {
        'agent': {
            'service': 'inetd',
            'script': {
                'path': '/usr/local/bin/check_mk_agent',
                'source': 'salt://nagios/check_mk/agent/files/check_mk_agent.freebsd',
            },
            'conf': {
                'inetd': {
                    'path': '/etc/inetd.conf',
                },
                'services': {
                    'path': '/etc/services',
                },
                'hosts_allow': {
                    'path': '/etc/hosts.allow',
                },
            },
            'port': 6556,
        },
    },
    'default': {
    }
}, merge=salt['pillar.get']('check_mk:lookup'), default='default') %}
