{% set logstash = salt['grains.filter_by']({
    'RedHat': {
        'forwarder': {
            'package': 'logstash-forwarder',
            'service': 'logstash-forwarder',
            'port': 5000,
            'conf': {
                'file': '/etc/logstash-forwarder.conf',
            },
            'timeout': 15,
        },
        'pki': {
            'cert': '/etc/pki/tls/certs/logstash-forwarder.crt',
            'source': 'salt://files/logstash/pki/logstash-forwarder.crt',
        },
    },
    'Debian': {
        'forwarder': {
            'package': 'logstash-forwarder',
            'service': 'logstash-forwarder',
            'port': 5000,
            'conf': {
                'file': '/etc/logstash-forwarder.conf',
            },
            'timeout': 15,
        },
        'pki': {
            'cert': '/etc/ssl/certs/logstash-forwarder.crt',
            'source': 'salt://files/logstash/pki/logstash-forwarder.crt',
        },
    },
    'FreeBSD': {
        'forwarder': {
            'package': 'logstash-forwarder',
            'service': 'logstash-forwarder',
            'port': 5000,
            'conf': {
                'file': '/usr/local/etc/logstash-forwarder.conf',
            },
            'timeout': 15,
        },
        'pki': {
            'cert': '/usr/local/etc/ssl/logstash-forwarder.crt',
            'source': 'salt://files/logstash/pki/logstash-forwarder.crt',
        },
    },
    'default': {
    }
}, merge=salt['pillar.get']('logstash:lookup'), default='default') %}
